
div {
    margin: 10px;
}
.firstSection {
    background-color: antiquewhite;
    color: brown;
    border: 2px solid brown;
}

.firstSection h1{
    color: rgb(28, 29, 16);
    border: 2px solid black;
}

.secondSection {
    background-color: rgb(248, 179, 89);
    color: rgb(94, 6, 6);
    border: 2px solid brown;
}

.secondSection h1{
    color: rgb(28, 29, 16);
    border: 2px solid black;
}

.thirdSection {
    background-color: rgb(171, 204, 232);
    color: rgb(21, 6, 88);
    border: 2px solid brown;
}

.thirdSection h1{
    color: rgb(28, 29, 16);
    border: 2px solid black;
}