.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.container div {
    background-color: rgb(171, 232, 232);
    margin: 5px;
    padding: 50px;
    text-align: center;
    font-size: 30px;
}

.center {
    grid-area: 1 / 2 / 4 / 4;
}

.right-top {
    grid-area: 1 / 4 / 3 / 4;
}

.bottom-left {
    grid-area: 3 / 1 / 5 / 1;
}

.bottom-center {
    grid-area: 4 / 2 / 4 / 4;
}