.container {
  position: relative;
  height: 98.3vh;
  width: 100;
}

.innerContainer {
  width: 50%;
  height: 50%;
  background-color: rgb(184, 177, 169);
  padding: 50px;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px rgb(0, 0, 0, 0.4);
  margin: 100px auto;
}
