.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
}

.container:hover {
  box-shadow: 20px 20px 40px black;
}

.heading {
  max-width: 100%;
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
}

.image {
  padding: 10px;
  max-width: 100%;
}

.btn {
  width: 100px;
  background-color: rgb(126, 237, 126);
  border-radius: 10px;
  margin: 7px;
  font-size: 15px;
  font-weight: bolder;
  padding: 10px;
}

.btn:hover {
  box-shadow: 5px 5px 10px black;
}
