div.imported {
  display: flex;
  margin: 20px;
}

.class1 {
  background-color: rgb(244, 208, 162);
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 40px;
}
.class2 {
  background-color: rgb(244, 208, 162);
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 40px;
}
.class3 {
  background-color: rgb(244, 208, 162);
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 40px;
}
.class4 {
  background-color: rgb(244, 208, 162);
  margin: 20px;
  border-radius: 20px;
  padding: 40px;
  border: 2px solid black;
}
